<!DOCTYPE html>
<html>
<head>
	<title>Administrator Portal</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script>
		// track number of intensives in table
		var numIntensives = {{numIntensives}};

		// remove an intensive by UID
		function removeIntensive(uid, name) {
			if (confirm("Are you sure you want to remove the intensive '" + name + "'?")) {
				$.post('/deleteIntensive', { uid: uid })
					.done(function(data) {
						// if no error, remove intensive table element
						if (!data.err) {
							$('#intensive' + uid).remove();
							numIntensives--;
						} else {
							alert("Failed to remove intensive.");
						}

						// if number of student choices has been forcibly updated, reload page to show changes
						if (data.numChoices || numIntensives < 1)
							window.location.href = "/admin";	// reload page
					});
			}
		}
	</script>
</head>
<body>
	<h1>Administrator Portal</h1>

	<h3>Intensives</h3>
	<button>Upload Intensives CSV</button>
	<table>
		<tr>
			<th>Name</th>
			<th>Capacity</th>
			<th>Minimum Grade</th>
			<th>Minimum Age</th>
		</tr>
		{{#intensives}}
		<tr id="intensive{{uid}}">
			<td>{{name}}</td>
			<td>{{maxCapacity}}</td>
			<td>{{minGrade}}</td>
			<td>{{minAge}}</td>
			<td><button onclick="removeIntensive({{uid}}, '{{name}}');">Delete</button></td>
		</tr>
		{{/intensives}}
		<form action="/createIntensive" method="POST">
			<tr>
				<td><input name="name" type="text" autocomplete="off" placeholder="Enter Name"></td>
				<td><input name="maxCapacity" type="text" autocomplete="off" placeholder="Enter Max Capacity"></td>
				<td>
					<select name="minGrade">
						<option value="9">None</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
					</select>
				</td>
				<td>
					<select name="minAge">
						<option value="0">None</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
					</select>
				</td>
				<td><button type="submit">Add</button></td>
			</tr>
		</form>
	</table>

	{{^variables.signUpsAvailable}}

		<h3>Students</h3>
		<button>Upload Student CSV</button>
		{{#studentCSVLastUpdate}}<a href="/studentCSV">View Last Update ({{studentCSVLastUpdate}})</a>{{/studentCSVLastUpdate}}
		<br>


		{{#intensivesExist}}
			<form action="/changeNumChoices" method="POST">
				Students can select top 
				<select name="numChoices" onchange="this.form.submit();">
					{{#choiceNumbers}}
					<option value="{{n}}" {{#selected}}selected{{/selected}}>{{n}}</option>
					{{/choiceNumbers}}
				</select>
				intensives.<br>
			</form>

			<form action="/changeSignUpRelease" method="POST">
				<input name="signUpsAvailable" value="1" hidden>
				<button type="submit" onclick="return confirm('Are you sure you want to release the student sign-up form?');">Release Sign-Up</button><br>
			</form>
		{{/intensivesExist}}

		{{^intensivesExist}}
			<p>There must be intensives in the system before the student sign-up can be released. Consider adding an intensive above.</p>
		{{/intensivesExist}}

	{{/variables.signUpsAvailable}}

	{{#variables.signUpsAvailable}}

		<h3>Student Sign-Up Progress</h3>
		<p>The student sign-up is live at <strong>{{domain}}/signup</strong></p>
		
		<form action="/changeSignUpRelease" method="POST">
			<input name="signUpsAvailable" value="0" hidden>
			<button type="submit" onclick="return confirm('Are you sure you want to close the student sign-up form? You may re-open it later.');">Close Sign-Up</button><br>
		</form>

		<table>
			<tr>
				<th>Student</th>
				<th>Last Sign-Up Date</th>
				<th>Sign-Up Status</th>
			</tr>
			{{#students}}
			<tr>
				<td>{{name}}</td>
				<td>{{lastSignUp}}</td>
				<td>{{signUpStatus}}</td>
			</tr>
			{{/students}}
		</table>

	{{/variables.signUpsAvailable}}

	<h3>Matching</h3>
	{{#intensivesExist}}
		<a href="/match">Generate Matchings</a>
	{{/intensivesExist}}
	{{^intensivesExist}}
		There must be intensives in the system before a matching can be generated.
	{{/intensivesExist}}

	<h3>Clear Intensive / Student Data</h3>
	<a href="/wipeAllData" onclick="return confirm('Are you sure you want to erase all student and intensive data?');">Reset All Data</a>

</body>
</html>