<!DOCTYPE html>
<html>
<head>
	<title>Administrator Portal</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script>
		// reassign a given student to a given intensive
		function reassign(studentUID, intensiveUID) {
			$.post('/reassign', { studentUID: studentUID, intensiveUID: intensiveUID })
				.done(function(err) {
					if (!err) {
						window.location.href = "/match";
					} else {
						alert('Unable to move student.');
					}
				});
		}
	</script>
</head>
<body>
	<ul>
		<li><a href="/admin">Administrator Portal</a></li>
		<li><a href="/intensives">Intensives</a></li>
		<li><a href="/students">Students</a></li>
		<li><a href="/match">Matching</a></li>
		<li><a href="/manageData">Manage Data</a></li>
	</ul>

	<h1>Generate Matchings</h1>

	{{^unableToMatch}}

		{{#lastMatching}}<span>Last Generated {{lastMatching}} (<a href="/downloadMatching">Download CSV</a>)</span>{{/lastMatching}}
		<form action="/newMatching" method="POST">
			<button type="submit" onclick="return confirm('Are you sure you want to compute a new matching? It will replace any existing matching data.');">Compute New Matching</button>
		</form>

		<h3>Parameters</h3>
		<form action="/prioritizeGrade" method="POST">
			<span>Prioritize by student grade?</span>
			<select name="prioritizeGrade" onchange="this.form.submit();">
				<option value="1"{{#prioritizeByGrade}}selected{{/prioritizeByGrade}}>Yes</option>
				<option value="0"{{^prioritizeByGrade}}selected{{/prioritizeByGrade}}>No</option>
			</select>
		</form>

		{{#noMatching}}
			<p>It appears a matching has yet to be constructed.</p>
		{{/noMatching}}

		{{^noMatching}}
			<h3>Analysis</h3>
			<p>Nothing to show here currently (debug)</p>

			<h3>Assignments</h3>
			{{#intensives}}
			<h4>{{intensiveName}}</h4>
			<table>
				{{#students}}
				<tr>
					<td>{{studentName}}</td>
					<td>{{choice}}</td>
	<!-- 				<td>
						<select onchange="reassign({{studentUID}}, this.value);">
							{{#intensives}}
							<option value="{{intensiveUID}}">{{intensiveName}}</option>
							{{/intensives}}
						</select>
					</td> -->
				</tr>
				{{/students}}
			</table>
			<br>
			{{/intensives}}
		{{/noMatching}}

	{{/unableToMatch}}

	{{#unableToMatch}}
	<p>You must close the student sign-ups before a matching can be generated.</p>
	{{/unableToMatch}}
</body>
</html>