<!DOCTYPE html>
<html>
<head>
	<title>Sign Up!</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script>
		var choices = [2, 3, 1];

		// POST choices to be recorded
		function submitChoices() {
			$.post('/signup', { choices: choices })
					.done(function(err) {
						console.log(err);
					});
		}
	</script>
</head>
<body>
	<table>
		{{#intensives}}
		<tr id="{{uid}}">
			<td>{{name}}</td>
			{{#minGrade}}
			<td>({{minGrade}}th grade and above)</td>
			{{/minGrade}}
			{{#minAge}}
			<td>(Must be {{minAge}} years of age)</td>
			{{/minAge}}
		</tr>
		{{/intensives}}
	</table>

	<button onclick="submitChoices();">Submit Choices</button>
</body>
</html>